<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="css/usp.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.structure-1.3.0.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Eventos USP</title>
    </head>
    <body>

        <div data-role="page" id="homepage">
            <div data-role="header" data-position="fixed">
                <h1><img src="img/usp_logotipo_transparente.png" height="20" width="45"/> Eventos</h1>
                <a href="#settingspage" data-role="button" data-icon="gear" class="ui-btn-right" data-iconpos="notext" data-inline="true">Config</a>
            </div>
            <div data-role="content">
                <ul data-role="listview" id="feed-list" data-filter="true" data-filter-placeholder="Buscar eventos..." data-theme="a">
                </ul>
            </div>
        </div>


        <div data-role="page" id="newspage">
            <div data-role="header" data-position="fixed">
                <a href="#homepage" data-role="button" data-icon="back" data-iconpos="notext" data-inline="true">Voltar</a>
                <h1><img src="img/usp_logotipo_transparente.png" height="20" width="45"/> Eventos</h1>
            </div>
            <div data-role="content" id="corpo">
            </div>
        </div>


        <div data-role="page" id="settingspage">
            <div data-role="header" data-position="fixed">
                <a href="#homepage" data-role="button" data-icon="back" data-iconpos="notext" data-inline="true">Voltar</a>
                <h1>Configuração</h1>
            </div>
            <div data-role="content"><!-- refresh | personalizar | apagar base | rodar testes unitarios -->
                <ul data-role="listview" id="settings-list" data-theme="a">
                    <li data-icon="edit"><a href="#" id="customize-btn" data-ajax="false">Personalizar feed...</a></li>
                    <li data-icon="delete"><a href="#" id="cleardb-btn" data-ajax="false">Apagar base local...</a></li>
                    <li data-icon="bars"><a href="test.html" data-ajax="false">Rodar testes unitários...</a></li>
                </ul>
            </div>
        </div>


        <div data-role="page" id="customizepage">
            <div data-role="header" data-position="fixed">
                <a href="#" id="customize-back-btn" data-ajax="false" data-role="button" data-icon="back" data-iconpos="notext" data-inline="true">Voltar</a>
                <h1>Personalizar</h1>
                <a href="#" id="customize-save-btn" data-ajax="false" data-role="button" data-icon="save" data-inline="true">Salvar</a>
            </div>
            <div data-role="content">
                <p>Selecione os tipos de eventos e os departamentos dos campi abaixo dos quais deseja ler os eventos:</p>
                <div data-role="collapsible-set" id="customizelist" data-inset="false" data-theme="a">
                </div>
            </div>
        </div>


        <script type="text/javascript" src="js/lib/cordova-2.5.0.js"></script>
        <script type="text/javascript" src="js/lib/json2.js"></script>
        <script type="text/javascript" src="js/lib/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="js/lib/jquery.mobile-1.3.0.js"></script>
        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="js/lib/backbone.js"></script>
        <script type="text/javascript" src="js/lib/backbone.localStorage.js"></script>
        <script type="text/javascript" src="js/usp_data.js"></script>
        <script type="text/javascript" src="js/rss.js"></script>
        <script type="text/javascript" src="js/models.js"></script>
        <script type="text/javascript" src="js/views.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

        <script type="text/template" id="event-template">
            <a href="#" id="usp-eventos-<%- link %>">
                <h5 class="entry-description"><%- title %></h5>
                <p class="entry-description"><%- description %></p>
                <p class="entry-publishedDate"><em><%- publishedDate %></em></p>
            </a>
        </script>
        <script type="text/template" id="corpo-template">
            <h3><%- title %></h5>
            <div id="newscontent"></div>
            <p><strong><a href="<%- link %>">Mais detalhes...</a></strong></p>
            <p>Publicado em <em><%- publishedDate %></em></p>
            <p>Publicado por <em><%- author %></em></p>
        </script>
        <script type="text/template" id="customize-template">
            <h2><%- section %></h2>
            <fieldset class="groupchecks" data-role="controlgroup">
                <% _.each(collection, function(value, key){ %>
                    <input class="checkbtn <%= type %>" data-mini="true" type="checkbox" name="<%= key %>" id="<%= key %>">
                    <label for="<%= key %>"><%- value %></label>
                <% }); %>
            </fieldset>
        </script>
    </body>
</html>
